<strong>Welcome to World class!</strong>
<br>

<% if current_user.present? %>
  Hello <%= current_user.name %>,
  <br>
    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>
    Please choose one of the classes on the left and start learning!
<% else %>
  <strong>
    <%= link_to 'have an account? sign in', new_user_session_path %>
    <br>
    <%= link_to 'no account? sign up', new_user_registration_path %>
  </strong>

  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
  Please choose one of the classes on the left and start learning!
<% end %>

